<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
<head>
<title>Home</title>
</head>
<body>
  <div layout:fragment="header">Enjoy to manage Github!</div>
  <div layout:fragment="contents">
    <div class="ui large possitive icon message">
      <i class="icon power"></i>
      <div class="content">
        <div class="header">Welcome!</div>
        <p>Enjoy to manage Github!</p>
      </div>
    </div>
  </div>
  <div layout:fragment="scripts"></div>
</body>
</html>