<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
<head>
<title>Settings</title>
</head>
<body>
  <div layout:fragment="header">Settings</div>

  <div layout:fragment="contents">

    <div th:switch="${status}">
      <div th:case="saved">
        <div class="ui message positive">
          <i class="icon close"></i>
          <div class="header">Saved settings!</div>
          <p>Settings saved to your Browser Cookie</p>
        </div>
      </div>
      <div th:case="cleared">
        <div class="ui message negative">
          <i class="icon close"></i>
          <div class="header">Cleared settings!</div>
          <p>Settings cleared from your Browser Cookie</p>
        </div>
      </div>
    </div>

    <form method="POST" class="ui form" th:object="${settings}">

      <h4 class="ui dividing header">User Accont</h4>
      <div th:include="components/fields::text('user', 'user')"></div>
      <div th:include="components/fields::password('pass', 'user')"></div>

      <h4 class="ui dividing header">Default Organization &amp; Repository</h4>
      <div th:include="components/fields::text('org', 'user')"></div>

      <div class="ui fluid buttons">
        <button type="submit" name="clear" class="ui button labeled icon">
          <i class="icon remove"></i>clear
        </button>
        <div class="or"></div>
        <button type="submit" name="save" class="ui button labeled icon primary">
          <i class="icon save"></i>save
        </button>
      </div>
    </form>

    <script type="text/javascript">
          $('.message .close').on('click', function() {
            $(this).closest('.message').transition('fade');
          });
        </script>
  </div>
</body>
</html>