<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
<head>
<title>Panic!</title>
</head>
<body>
  <div layout:fragment="header">Panic!</div>
  <div layout:fragment="contents">
    <div class="ui large negative icon message">
      <i class="icon warning circle"></i>
      <div class="content">
        <div class="header" th:text="|Sorry, ${summary}.|"></div>
        <p th:text="${message}"></p>
        <ul>
          <li th:each="error : ${errors}" th:text="${error.message}"></li>
        </ul>
        <p>
          <a th:href="@{/}">Please back to Home.</a>
        </p>
      </div>
    </div>
  </div>
  <div layout:fragment="scripts"></div>
</body>
</html>