<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Cathub</title>
</head>
<body>
  <div id="menu" class="ui left demo vertical inverted sidebar labeled icon menu">
    <a class="item" th:href="@{/}"> <i class="icon large home"></i>Home
    </a> <a class="item" th:href="@{/issues}"> <i class="icon large search"></i>Issues
    </a> <a class="item" th:href="@{/pulls}"> <i class="icon large search"></i>Pulls
    </a> <a class="item" th:href="@{/settings}"> <i class="icon large settings"></i>Settings
    </a>
  </div>

  <div id="sidebar" class="ui top massive fixed inverted labeled menu">
    <div class="item togglable">
      <i class="icon large content"></i>
    </div>
    <div class="header item">
      <i class="icon large github"></i>Cathub
    </div>
    <div class="header item" layout:fragment="header"></div>
  </div>

  <div id="contents" class="pusher">
    <div class="ui grid">
      <div class="fourteen wide centered column">
        <div layout:fragment="contents" th:remove="tag"></div>
      </div>
    </div>
  </div>

  <div class="scripts">
    <script type="text/javascript" th:src="@{/static/js/script.js}"></script>
    <div layout:fragment="scripts" th:remove="tag"></div>
  </div>

</body>
</html>