<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Cathub</title>
</head>
<body>
  <div class="ui grid">
    <div class="two wide column">
      <div class="ui vertical fluid tabular menu">
        <div class="header item">
          <a th:href="@{/}">
            <i class="icon github"></i>Cathub
          </a>
        </div>
        <a class="active item" th:href="@{/issues}">
          <i class="icon search"></i>Browse Issues/PRs
        </a>
      </div>
    </div>
    <div class="fourteen wide stretched column">
      <div class="ui segment">
        <div layout:fragment="header" th:remove="tag"></div>
        <div layout:fragment="contents" th:remove="tag"></div>
        <div layout:fragment="scripts" th:remove="tag"></div>

      </div>
    </div>
  </div>
</body>
</html>